body {
  min-height: 100vh;
}
/* Header section */
header {
  margin-bottom: 71px;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-primary-500);
}

.header-logo > h1 > a {
  color: var(--color-primary-50);
}

.header-logo a,
.header-logo a:-webkit-any-link,
.header-navitems > a {
  text-decoration: none !important;
}

.header-navlist {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  margin-right: 24px;
}

.header-navitems {
  /* background-color: bisque; */
  padding: 4px 16px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-navitems a {
  color: var(--color-primary-50);
}

.header-navitems:hover {
  background-color: var(--color-primary-300);
  transition: ease-in-out 0.2s;
  transform: scale(1.1);
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
}

.hero-container {
  width: 50%;
  margin: 48px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  color: var(--color-text);
}

.hero-title {
  margin-bottom: 12px;
  font-family: "Montserrat-italic", sans-serif;
  font-style: italic;
}
